* {
    margin: 0 auto;
    padding: 0;
}

.jumbotron {
    background-image: url('../sandwich.jpg');
    background-position: center;
    background-repeat: repeat-x;
}

body {
    background-color: grey;
}

.jumbotron {
    padding: 2rem;
}

.col-8 {
    flex: 0 0 60%;
}

#content-container {
    margin: 5px;
}

#menu-container {
    background-color: white;
    border-radius: 8px;
}

#ingredientMenu {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.ingredientInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.ingredientInfo > p {
    margin: 0;
}

.ingredientInfo > input {
    margin: 0 10px 0 0;
}

.selectBtn {
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: .75em;
    padding: 4px;
}

#cart-container {
    color: white;
    background-color: black;
    border-radius: 8px;
}

h5 {
    margin-top: 15px;
}

h3 {
    margin-top: 20px;
}